@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;500&display=swap");

* {
    margin: 0;
    padding: 0;
}

html {
    background: rgb(240, 245, 240);
    background: linear-gradient(
        90deg,
        rgba(240, 245, 240, 1) 0%,
        rgba(240, 244, 240, 1) 48%,
        rgba(238, 222, 232, 1) 100%
    );
}
#containeur {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin: auto;
    margin-top: 20px;
    row-gap: 20px;
}

header {
    z-index: 5;
    grid-column: 1/3;
    grid-row: 1/3;
    color: aliceblue;
    justify-self: center;
    padding-top: 10px;
}

#intro {
    background-color: #102633;
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
}

h1 {
    font-size: 2, 2rem;
    font-family: "Bebas Neue", cursive;
    padding: 0px 50px 0px 50px;
    text-align: left;
}

p {
    font-size: 1rem;
    font-family: "Noto Sans Display", sans-serif;
    padding: 10px 50px 0px 50px;
    text-align: left;
}

button {
    margin-top: 30px;
    padding: 10px 10px;
    text-decoration: none;
    background-color: #33c1bd;
    border: 5px solid #fff;
    border-radius: 12px;
    color: #fff;
    font-family: "Bebas Neue", cursive;
    width: 100px;
    font-size: 1.2rem;
}

img#demi {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

img#demi1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

img#demi2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

#image_intro {
    position: relative;
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: #0c1f28;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset -2px 6px 15px 8px rgba(0, 0, 0, 0.45);
}
svg {
    z-index: 9;
}

img#ink {
    margin-top: 20%;
    z-index: 10;
}

img#vague {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    filter: drop-shadow(0.2 0 0.1rem #000);
}

img#vague1 {
    position: absolute;
    bottom: 0;
    left: 0;
}

#color {
    background-color: antiquewhite;
    grid-column: 1/2;
    grid-row: 3/5;
    z-index: 4;
}

#test {
    background-color: aquamarine;
    grid-column: 2/3;
    grid-row: 3/5;
}

#bloc {
    grid-column: 1/3;
    grid-row: 5/7;
    background-color: blueviolet;
    display: flex;
}

#bloc1 {
    width: 50%;
    position: relative;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#bloc2 {
    width: 50%;
    position: relative;
    background-color: crimson;
}

/*
    structure site web:

    conteneur principal pour la taille du site
    div pour chaque section contenant les différentes informations généralement en deux colones avec CSS Grid

    conteneur{
        div{
            info{

            }

            info1{

            }
        }

        div1{
            info{

            }
            info1{

            }
        }

        div2{
            info{

            }
            info1{

            }
        }
    }

    ----------------------------------
    css

    #conteneur{
        width: 95%;
    }

    div, div etc{
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }


*/
